@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Nunito&family=Roboto:wght@300;400;700&display=swap');

html{
    font-family: 'Roboto'!important;
}
.bg-success {
    background-color: #76b82a !important;
}
body{
    background:rgba(92, 92, 91, 0.13);
}

